# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs, caches
*.log
.cache/
*.tmp

# Backup files
*.bak
*.swp
*~
